%h1 Racks that need to be rescanned
%p Tubes on these racks have been scanned into other racks, the layout of these racks may be incorrect

= will_paginate @assets
%table#dirty_racks
 %thead
  %tr
   %th Barcode
   %th Decoded Prefix
   %th Decoded Barcode Number
   %th Storage area
   %th Freezer
   %th Building area
   %th Number of contained assets
 %tbody
  - @assets.each  do |asset|
   %tr
    %td
     = link_to "#{asset.barcode}", asset_path(asset)
    %td
     = link_to "#{asset.decoded_prefix}", asset_path(asset)
    %td
     = link_to "#{asset.decoded_barcode_number}", asset_path(asset)
    %td
     = link_to "#{asset.storage_area.try(:name)}", storage_area_path(asset.storage_area) if asset.storage_area
    %td
     = link_to "#{asset.storage_area.try(:freezer).try(:name)}", freezer_path(asset.storage_area.try(:freezer)) if asset.storage_area.try(:freezer)
    %td
     = link_to "#{asset.storage_area.try(:freezer).try(:building_area).try(:name)}", freezer_path(asset.storage_area.try(:freezer).try(:building_area)) if asset.storage_area.try(:freezer).try(:building_area)
    %td
     = asset.contained_assets.count

= will_paginate @assets
