%h1 
 = "Freezer #{@freezer.name}"
 
%ul
 %li
  = "Building area #{@freezer.building_area.try(:name)}"
 %li 
  = link_to "Download asset details", assets_spreadsheet_freezer_path(@freezer)

= render :partial => '/storage_areas/storage_areas/storage_areas_list'
