%h1 
 = "Freezer #{@freezer.name}"
 
%ul
 %li
  = "Building area #{@freezer.building_area.try(:name)}"
 %li 
  = link_to "Download asset details", assets_spreadsheet_freezer_path(@freezer)

= will_paginate @storage_areas
= render :partial => '/storage_areas/storage_areas/storage_areas_list', :locals => {:storage_areas => @storage_areas}
= will_paginate @storage_areas
