%h1 
 = "Storage Area #{@storage_area.name}"
 
%ul
 %li
  = "Freezer #{@storage_area.freezer.try(:name)}"
 %li
  = "Building area #{@storage_area.freezer.try(:building_area).try(:name)}"
 %li 
  = link_to "Download asset details", assets_spreadsheet_storage_area_path(@storage_area)

= will_paginate @assets
= render :partial => '/assets/assets/assets_list', :locals => { :assets => @assets }
= will_paginate @assets
